$theme-bg-color: var(--tg-theme-bg-color);
$theme-bg-color-dark: color-mix(in srgb, var(--tg-theme-bg-color), #000 5%);
$theme-bg-color-darkest: color-mix(in srgb, var(--tg-theme-bg-color), #000 15%);
$theme-text-color: var(--tg-theme-text-color);
$theme-hint-color: var(--tg-theme-hint-color);
$theme-link-color: var(--tg-theme-link-color);
$theme-button-color: var(--tg-theme-button-color);
$theme-button-text-color: var(--tg-theme-button-text-color);
