$main-black: hsl(222.86deg 20% 6.86%);
$black: hsl(225deg 17.39% 9.02%);
$light-black: hsl(222.86deg 12.73% 10.78%);
$main-text-color: hsl(222.86deg 9.59% 85.69%);
$gray: hsl(222deg 5.15% 61.96%);
$red: hsl(351.74deg 71.06% 53.92%);
