@import "../../styles/variables.scss";

progress {
    opacity: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper {
        padding: 10px;
        background-color: $theme-bg-color;
        border-top: 1px solid $theme-hint-color;
        box-sizing: border-box;
        cursor: pointer;

        &:last-child {
            border-bottom: 1px solid $theme-hint-color;
        }

        &:hover {
            background-color: color-mix(in srgb, $theme-bg-color-dark, #000 5%);
        }

        &--duotrio {
            padding: 15px 10px;

            &:hover {
                background-color: color-mix(in srgb, $theme-bg-color-dark, #000 5%);
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__image {
        width: 50px;
        border-radius: 50%;
        border: 3px solid $theme-link-color;
    }

    &__username {
        font-size: 14px;
        color: $theme-text-color;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 15px;
    }

    &__kda {
        display: flex;
        flex-direction: column;
    }

    &__kda-stats,
    &__kda-total,
    &__kp,
    &__damage {
        font-size: 14px;
        color: $theme-text-color;
        text-align: center;
    }

    &__damage {
        width: 25%;

        & .progress-container {
            width: 100%;
        }

        & .value,
        .stats {
            width: 100%;
        }

        &--duotrio {
            display: flex;
            align-items: center;
            margin-top: 10px;

            & .value {
                margin-top: 0;
            }

            & .stats {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: $theme-text-color;
                margin-top: 0;
            }

            & .progress-container {
                width: 35%;
                margin-top: 0;
            }
        }
    }

    &__damage-wrapper {
        &--duotrio {
            margin-top: 15px;
        }
    }
}
