<html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class='container'>
        <header class='header'>
            <div class='avatar-border'>
                <img class='avatar' src='https://ddragon.leagueoflegends.com/cdn/12.9.1/img/champion/Caitlyn.png'>
            </div>
            <div class='type'>
                <p class='result victory'>victory</p>
                <p class='game-type'>ARAM</p>
            </div>
        </header>
        <div class='name'>DesireName</div>
        <main class='main'>
            <div class='progress-bar' style='--p:87;--c:rgba(57, 168, 249, 1)'>87%</div>
            <div class='stats'>
                <div class='damage'>50,203 DMG</div>
                <div>
                    <div class='score'>10/11/32</div>
                    <div class='kda'>3.8 KDA</div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>