@import "../../styles/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $theme-text-color;
    padding: 5px 20px 15px 20px;
    font-size: 20px;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__duration {
        font-size: 16px;
        align-self: flex-end;
    }

    &__back {
        height: 20px;
        cursor: pointer;
        margin-right: 20px;

        & .st0 {
            fill: $theme-link-color;
        }
    }
}
